<!DOCTYPE html>
<html lang="{{meta.lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta.siteTitle}}</title>
    <meta name="description" content="{{meta.description}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&family=Jacquard+12&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/assets/favicon/favicon.ico" sizes="32x32">
    <link rel="icon" href="/assets/favicon/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
</head>
<body>
    {{{bodyHtml}}}

    <script src="/js/main.js" defer></script>
</body>
</html>
